body{
   background-color: #f8f9fa;
   font-family: 'Roboto', sans-serif;
}
.logo{
    font-family: 'Raleway', sans-serif;
}
.list{
    list-style: none;
}
.display-card{
    background-color: white;
    color: black;
    width: 65px;
}
.list-style{
    padding: 5px;
    border-radius: 5px;
}
.list-style:hover {
    background-color: #EEEFFF;
    cursor: pointer;
    color: #5D5FEF;
}

